{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}List of public XMPP servers{% endblock title %}
{% block pagetitle %}Public XMPP servers{% endblock %}

{% block content %}

<div class="social-buttons">
    <div class="fblike">
        <img src="{% static 'img/fblike.png' %}"> (Two clicks for your privacy!)
    </div>
</div> 
<!--
<img id="fblike" onclick='share_buttons("social-buttons"); return false;' src="{% static 'img/fblike.png' %}"> -->

<p>
This is a list of public
<a href="http://en.wikipedia.org/wiki/Extensible_Messaging_and_Presence_Protocol">XMPP</a> servers,
free for everyone to use. XMPP is a open, free and decentralized instant messaging network.</p>

<p>Due to its decentralized nature, there are thousands of XMPP servers available, from which to
choose from. You may choose any of the listed servers or a different server altogether, you can
always communicate with users on other servers. This list is kindly brought to you by
<a href="https://jabber.at">jabber.at</a>, which is run by the
<a href="https://fsinf.at">Fachschaft Informatik</a>.</p>

<table class="table table-condensed">
    <thead>
    <tr>
        <th>Server</th>
        <th>Country</th>
        <th>CA</th>
        <th>Deployed</th>
        <!--<th>Software</th>-->
        <th>Contact</th>
    </tr>
    </thead>
    <tbody>
{% for server in object_list %}
<tr id="server-{{server.id}}" class="server-row" data-content='bootstrap-{{server.id}}'>
    <td>{% include "server/includes/server_homepage.html" %}</td>
    <td>{{ server.location }}</td>
    <td>
    {% if server.ca %}
        {% if server.ca.website %}
            <a href="{{ server.ca.website }}">{{ server.ca.get_display_name }}</a>
        {% else %}
            {{ server.ca.get_display_name }}
        {% endif %}
    {% else %}
        Unknown
    {% endif %}
    </td>
    <td>{{ server.launched.year }}</td>
    <!--<td><a href="{{ server.software.website }}">{{ server.software.name }} {{ server.software_version }}</a></td>-->
    <td>{% include "server/includes/server_contact.html" %}
    </td>
</tr>
{% endfor %}
    </tbody>
</table>

{% if not user.is_authenticated %}
<p>
    You can simply <a href="{% url "account_create" %}">create an account</a> and
    <a href="{% url "django.contrib.auth.views.login" %}?next={{ request.path }}">login</a> to add
    your own servers to this list.
</p>

{% endif %}

<p>
    There also is an <a href="{% url "api" %}">API</a> for reading servers from this list.
    <a href="{% url "api_help" %}">Some documentation</a> is available for it.
</p>

{% endblock content %}
